{% extends 'base.html'%}
{% load static %}

{% block body %}
<h3>Carrinho</h3>
<h4>Número Pedido: {{ pedido.id }}</h4>

{% for item in itens_pedido %}
<P>
    <img src="{{ item.item_estoque.produto.imagem.url }}" width="100" height="100">
    Produto: {{ item.item_estoque.produto.nome }}; Tamanho: {{ item.item_estoque.tamanho }}; Quantidade: {{ item.quantidade }}; Preço Unítario: R${{ item.item_estoque.produto.preco }}; Total: R${{ item.preco_total }}
</P>
{% endfor %}

<p>Total de Produtos: {{ pedido.quantidade_total}}</p>
<p>Preço Total do Pedido: R${{ pedido.preco_total}}</p>

<a href="{% url 'checkout' %}">checkout</a> 
{% endblock %}