{% extends 'base.html'%}
{% load static %}

{% block body %}

    <main class="principal">
        <section class="banner-individual">
            <a href="{% url 'loja' %}">
            <img
                src="{% static 'images/imagem_para_homepage.png' %}"
                alt="Banner Gif Desktop"
                width="80"
                height="480"
            />
            <img
                src="{% static 'images/imagem_para_homepage.png' %}"
                alt="Banner Gif Mobile"
                width="80"
                height="480"
            />
            </a>
        </section>

      <section class="banner-grid">
        {% for banner in banners %}
            <a
            href="{% url 'loja' %}{{ banner.link_destino }}"
            class="banner-grid__imagem"
            >
            <img
                src="{{ banner.imagem.url }}"
                alt="Banner 1"
            />
            </a>
        {% endfor %}
      </section>

      <section class="banner-individual">
        <a href="{% url 'loja' %}">
          <img
            src="{% static 'images/imagem_para_homepage2.png' %}"
            alt="Banner Gif Desktop"
            width="80"
            height="480"
          />
          <img
            src="{% static 'images/imagem_para_homepage2.png' %}"
            alt="Banner Gif Mobile"
            width="80"
            height="480"
          />
        </a>
      </section>
    </main>


{% endblock %}
