    <footer class="rodape">

      <section class="rodape__secao-informacoes">
        <div class="rodape__container">
          <div class="rodape__informacoes">
            <div class="rodape__informacao">
              <p class="rodape__titulo">Coffee House</p>

              <ul class="rodape__links">
                    <p>Transformando clientes em amantes de café.</p>
                <p>📍 Endereço: Rua do Café, 123 - São Paulo, SP</p>
                <p>📞 Telefone: (11) 1234-5678</p>
                <p>📧 E-mail: <a href="#">coffeehouse@gmail.com.br</a></p>
              </ul>
            </div>

            <div class="rodape__informacao">
              <p class="rodape__titulo">Navegação</p>

              <ul class="rodape__links">
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'loja' %}">Produtos</a></li>
                <li><a href="{% url 'meus_pedidos' %}">Meus Pedidos</a></li>
                <li><a href="{% url 'minha_conta' %}">Minha conta</a></li>
                <li><a href="#">Nossas Lojas</a></li>
                <li><a href="#">Trabalhe Conosco</a></li>
              </ul>
            </div>

            <div class="rodape__informacao">
              <p class="rodape__titulo">Redes Sociais</p>

              <ul class="rodape__links">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
              </ul>
            </div>

            <div class="rodape__informacao">
              <p class="rodape__titulo">Suporte</p>

              <ul class="rodape__links">
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Termos de Uso</a></li>
                <li><a href="#">Dúvidas Frequentes</a></li>
              </ul>
            </div>
          </div>

          <div class="rodape__atendimento">
            <p class="rodape__titulo">Atendimento</p>

            <div class="rodape__ancoras">

              <div class="rodape__whatsapp">
                <a class="rodape__ancora-icone" href="#">
                  <img
                    loading="lazy"
                    crossorigin="anonymous"
                    class="rodape__icone"
                    data-src="https://lojausereserva.vtexassets.com/assets/vtex.file-manager-graphql/images/d20346db-d162-4873-8518-b8548620acf6___07a0cb802e61ce015e6477828969ca35.svg"
                    src="https://lojausereserva.vtexassets.com/assets/vtex.file-manager-graphql/images/d20346db-d162-4873-8518-b8548620acf6___07a0cb802e61ce015e6477828969ca35.svg"
                  />
                  WhatsApp
                </a>

                <p class="rodape__horarios">
                  Segunda a Sexta: 08h às 20h<br />Sábados: 08h às 18h
                </p>
              </div>
            </div>

            <div class="rodape__redes">
              <a href="#" class="rodape__rede">
                <img
                  src="https://lojausereserva.vtexassets.com/arquivos/fbx1.png"
                  alt="Logo Facebook"
                />
              </a>
              <a href="#" class="rodape__rede">
                <img
                  src="https://lojausereserva.vtexassets.com/arquivos/insx1.png"
                  alt="Logo Instagram"
                />
              </a>
              <a href="#" class="rodape__rede">
                <img
                  src="https://lojausereserva.vtexassets.com/arquivos/twx1.png"
                  alt="Logo Twitter"
                />
              </a>
            </div>
          </div>
        </div>

      </section>

      <section class="rodape__secao-empresa">
        <p>
          Coffee House Cafés | CNPJ: 12.122.233/0001-00 | Inscrição
          Estadual: 999999 | Rua do Café, 123 - São Paulo, SP - CEP: 12345-123
        </p>
      </section>
    </footer>